{% extends "base.html" %}
{% block title %}Create Survey{% endblock %}
{% block content %}
<div class="create-survey">
    <h1>Create Questioniare</h1>
    <form action="/create_survey" method="post" class="create-form">
        <input type="text" name="title" id="survey-title" placeholder="Survey Title"><br><br>
        <input type="text" name="description" id="survey-description" placeholder="Enter description less than 240 words"><br><br>
        <div class="questions">

        </div>
    
        <input type="button" id="add-questions" value="Add Questions"><br><br>
        
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}