{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<body>
    Log In
    <form action="/signup" method="post">
        <input type="text" name="first-name" placeholder="John" required><br><br>
        <input type="text" name="last-name" placeholder="Doe" required><br><br>
        <input type="email" name="email" placeholder="exprecn@something.com" required><br><br>
        <div class="pass">
            <input id="inPass" type="password" name="password" placeholder="Password" required>
        </div><br>
        <div class="pass">
            <input id="inPass" type="password" name="confirm-password" placeholder="Password" required>
        </div><br>
        <input type="radio" id="creator-false" name="creator" value="">
        <label for="creator-false">False</label><br>
        <input type="radio" id="creator-true" name="creator" value="True">
        <label for="creator-true">True</label><br>
        <input type="submit" value="Login">
        <p id="signup">Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
</body>
{% endblock %}