.header {
    background-color: #5cdb95;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

.header a {
    text-decoration: none;
    color: #05396b;
    margin-left: 4%;
    font-weight: bold;
}

header #baseicon {
    position: absolute;
    padding-left: 5px;
    width: 40px;
    height: 40px;
}

nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    width: 50%;
    right: 2%;
    top: 10px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    position: relative;
    background-color: #8ee4afe2;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
